In [1]:
import pandas as pd
df = pd.read_csv('./../Datasets/placement.csv')

In [2]:
df.head()

,Company,Position,.NET,C,C++,Python,Java,SQL,HTML,PHP,Javascript,Data Science,Android,Location,CGPA,CTC,Backlogs
0,Konnect Insights,Software Developer,1,0,0,0,0,0,0,0,0,0,0,Mumbai,6.0,2.4,0
1,Evision Technoserve,Network Engineer,0,1,0,0,0,0,0,0,0,0,0,Mumbai,6.0,2.2,1
2,3D Mines,Software Developer,1,0,0,0,0,0,0,0,0,0,0,Mumbai,0.0,2.0,1
3,PicoStone,Software Developer,0,1,1,0,0,0,0,0,0,0,0,Mumbai,6.5,3.5,0
4,BTS,Software Developer,0,0,0,0,0,1,1,0,1,0,0,Mumbai,7.0,4.2,0

In [3]:
df.shape

(73, 17)

In [4]:
df.Position.unique()

array(['Software Developer', 'Network Engineer', 'Web Developer',
       'Android Developer', 'SQL Developer', 'Data Scientist'],
      dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Designation = le.fit_transform(df.Position)

In [6]:
df['Designation'] = Designation

In [7]:
df.head()

,Company,Position,.NET,C,C++,Python,Java,SQL,HTML,PHP,Javascript,Data Science,Android,Location,CGPA,CTC,Backlogs,Designation
0,Konnect Insights,Software Developer,1,0,0,0,0,0,0,0,0,0,0,Mumbai,6.0,2.4,0,4
1,Evision Technoserve,Network Engineer,0,1,0,0,0,0,0,0,0,0,0,Mumbai,6.0,2.2,1,2
2,3D Mines,Software Developer,1,0,0,0,0,0,0,0,0,0,0,Mumbai,0.0,2.0,1,4
3,PicoStone,Software Developer,0,1,1,0,0,0,0,0,0,0,0,Mumbai,6.5,3.5,0,4
4,BTS,Software Developer,0,0,0,0,0,1,1,0,1,0,0,Mumbai,7.0,4.2,0,4

In [8]:
df[['Position', 'Designation']].value_counts

<bound method DataFrame.value_counts of               Position  Designation
0   Software Developer            4
1     Network Engineer            2
2   Software Developer            4
3   Software Developer            4
4   Software Developer            4
..                 ...          ...
68       Web Developer            5
69       Web Developer            5
70  Software Developer            4
71  Software Developer            4
72  Software Developer            4

[73 rows x 2 columns]>

In [9]:
df.Designation.unique()

array([4, 2, 5, 0, 3, 1])

In [10]:
df[['DROID', 'DSCI', 'NWENG', 'SQLDEV', 'SDE', 'WEB']] = pd.get_dummies(df.Designation)

In [11]:
df.loc[0]

Company           Konnect Insights
Position        Software Developer
.NET                             1
C                                0
C++                              0
Python                           0
Java                             0
SQL                              0
HTML                             0
PHP                              0
Javascript                       0
Data Science                     0
Android                          0
Location                    Mumbai
CGPA                             6
CTC                            2.4
Backlogs                         0
Designation                      4
DROID                            0
DSCI                             0
NWENG                            0
SQLDEV                           0
SDE                              1
WEB                              0
Name: 0, dtype: object

In [12]:
df.Location.unique()

array(['Mumbai', 'Bengaluru', 'Hyderabad', 'Delhi', 'Chennai'],
      dtype=object)

In [13]:
Locations = le.fit_transform(df.Location)

In [14]:
Locations

array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 4, 4, 4])

In [15]:
df[['Bengaluru', 'Chennai', 'Delhi', 'Hyderabad', 'Mumbai']] = pd.get_dummies(df.Location)

In [16]:
df.loc[0]

Company           Konnect Insights
Position        Software Developer
.NET                             1
C                                0
C++                              0
Python                           0
Java                             0
SQL                              0
HTML                             0
PHP                              0
Javascript                       0
Data Science                     0
Android                          0
Location                    Mumbai
CGPA                             6
CTC                            2.4
Backlogs                         0
Designation                      4
DROID                            0
DSCI                             0
NWENG                            0
SQLDEV                           0
SDE                              1
WEB                              0
Bengaluru                        0
Chennai                          0
Delhi                            0
Hyderabad                        0
Mumbai                           1
Name: 0, dtype: object

In [17]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [18]:
df.columns

Index(['Company', 'Position', '.NET', 'C', 'C++', 'Python', 'Java', 'SQL',
       'HTML', 'PHP', 'Javascript', 'Data Science', 'Android', 'Location',
       'CGPA', 'CTC', 'Backlogs', 'Designation', 'DROID', 'DSCI', 'NWENG',
       'SQLDEV', 'SDE', 'WEB', 'Bengaluru', 'Chennai', 'Delhi', 'Hyderabad',
       'Mumbai'],
      dtype='object')

In [19]:
X_data = df[['.NET', 'C', 'C++', 'Python', 'Java', 'SQL',
       'HTML', 'PHP', 'Javascript', 'Data Science', 'Android', 'CGPA', 'CTC', 'Backlogs',
         'DROID', 'DSCI', 'NWENG', 'SQLDEV','SDE', 'WEB',
       'Bengaluru', 'Chennai', 'Delhi', 'Hyderabad', 'Mumbai']]

In [20]:
y_data = df.Company

In [21]:
X_data.head()

,.NET,C,C++,Python,Java,SQL,HTML,PHP,Javascript,Data Science,...,DSCI,NWENG,SQLDEV,SDE,WEB,Bengaluru,Chennai,Delhi,Hyderabad,Mumbai
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0,0,0,0,0,1,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [22]:
y_data.head()

0       Konnect Insights
1    Evision Technoserve
2              3D Mines
3              PicoStone
4                    BTS
Name: Company, dtype: object

In [23]:
model.fit(X_data, y_data)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
model.score(X_data, y_data)

1.0

In [25]:
model.predict([[1,0,0,0,0,0,1,1,1,0,0,7,3,0,0,1,0,0,0,0,1,0,0,0,0]])

array(['Marmeto Pvt Ltd'], dtype=object)

In [26]:
df.loc[df.Company == 'Marmeto Pvt Ltd'].values

array([['Marmeto Pvt Ltd', 'Web Developer', 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 'Bengaluru', 6.0, 3.0, 0, 5, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0]],
      dtype=object)

In [27]:
from joblib import dump

In [28]:
dump(model, './../Models/placements.joblib')

['./../Models/placements.joblib']